body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #020414;
  color: white;
  /* font-family: 'Dela Gothic One', sans-serif */
}
p {
  margin: 0;
}
h2 {
  margin: 0;
}
span {
  margin: 0;
}
b {
  margin: 0;
}
